<h1>Import your file here</h1>

<%= form_for @fichier do |f| %>
  <%= render 'shared/errors', object: @fichier %>

  <div class="form-group">
    <%= f.file_field :fichier, class: 'form-control'%>
  </div>

  <%= f.submit 'Upload', class: 'btn btn-primary' %>
<% end %>